//- Карточка товара
mixin productItemNoSlide(title, src, price, oldprice, discount, nalichie, populyarno, rassrochka, izbranno, vkorzine, sravnenie)
	a(href="#").products-list__item.product-item

		.product-item__head

			.product-item__labels.labels
				if populyarno == '1'
					.labels__item.labels__popular Популярно
				if rassrochka == '1'
					.labels__item.labels__installment Рассрочка

			.product-item__img
				img(src="img/products/"+src, alt="", loading="lazy")

		.product-item__middle

			.product-item__title #{title}

			.product-item__info

				.product-item__params.product-params
					.product-params__item
						span.product-params__name Площадь:
						span.product-params__value 20 м²
					.product-params__item
						span.product-params__name Режим работы:
						span.product-params__value Охлаждение и обогрев
					.product-params__item
						span.product-params__name Гарантия:
						span.product-params__value 1,5 года
					.product-params__item
						span.product-params__name Инвертор:
						span.product-params__value Да

				if nalichie == '0'
					.product-item__availability Под заказ
				if nalichie == '1'
					.product-item__availability.product-item__availability--true
						svg
							use(xlink:href='img/sprite.svg#shop-in-stock')
						| В наличии

		.product-item__footer

			.product-item__price
				| #{price}
				if oldprice != ''
					span.old-price #{oldprice}
				if discount != ''
					span.discount #{discount}

			.product-item__actions

				if vkorzine == '1'
					.product-item__btn.buy.isSent(title="Добавлено в корзину")

						//- svg
							use(xlink:href='img/sprite.svg#check')
						i
						span В корзине
				if vkorzine == '0'
					.product-item__btn.buy(title="Добавить в корзину")
						//- svg
							use(xlink:href='img/sprite.svg#shop-cart')
						i
						span В корзину

				.product-item__btn.credit
					span Купить в рассрочку

				.product-item__btn-box
					if izbranno == '1'
						.product-item__btn.bookmark.isSent(title="Удалить из избранного")
							//- svg
								use(xlink:href='img/sprite.svg#shop-favourites-fill')
							i

					if izbranno == '0'
						.product-item__btn.bookmark(title="Добавить в избранное")
							//- svg
								use(xlink:href='img/sprite.svg#shop-favourites')
							i

					if sravnenie == '1'
						.product-item__btn.compare(title="Добавлено в сравнение")
							//- svg
								use(xlink:href='img/sprite.svg#shop-compare')
							i

					if sravnenie == '0'
						.product-item__btn.compare(title="Добавить в сравнение")
							//- svg
								use(xlink:href='img/sprite.svg#shop-compare')
							i


//- Карточка товара слайдере товаров
mixin productItem(title, src, price, oldprice, discount, nalichie, populyarno, rassrochka, izbranno, vkorzine, sravnenie)
	a(href="#").products-list__item.product-item.swiper-slide

		.product-item__head

			.product-item__labels.labels
				if populyarno == '1'
					.labels__item.labels__popular Популярно
				if rassrochka == '1'
					.labels__item.labels__installment Рассрочка

			.product-item__img
				img(src="img/products/"+src, alt="", loading="lazy")

		.product-item__middle

			.product-item__title #{title}

			.product-item__info

				.product-item__params.product-params
					.product-params__item
						span.product-params__name Площадь:
						span.product-params__value 20 м²
					.product-params__item
						span.product-params__name Режим работы:
						span.product-params__value Охлаждение и обогрев
					.product-params__item
						span.product-params__name Гарантия:
						span.product-params__value 1,5 года
					.product-params__item
						span.product-params__name Инвертор:
						span.product-params__value Да

				if nalichie == '0'
					.product-item__availability Под заказ
				if nalichie == '1'
					.product-item__availability.product-item__availability--true
						svg
							use(xlink:href='img/sprite.svg#shop-in-stock')
						| В наличии

		.product-item__footer

			.product-item__price
				| #{price}
				if oldprice != ''
					span.old-price #{oldprice}
				if discount != ''
					span.discount #{discount}

			.product-item__actions

				if vkorzine == '1'
					.product-item__btn.buy.isSent(title="Добавлено в корзину")
						//- svg
							use(xlink:href='img/sprite.svg#check')
						i
						span В корзине
				if vkorzine == '0'
					.product-item__btn.buy(title="Добавить в корзину")
						//- svg
							use(xlink:href='img/sprite.svg#shop-cart')
						i
						span В корзину

				.product-item__btn.credit
					span Купить в рассрочку

				.product-item__btn-box
					if izbranno == '1'
						.product-item__btn.bookmark.isSent(title="Удалить из избранного")
							//- svg
								use(xlink:href='img/sprite.svg#shop-favourites-fill')
							i

					if izbranno == '0'
						.product-item__btn.bookmark(title="Добавить в избранное")
							//- svg
								use(xlink:href='img/sprite.svg#shop-favourites')
							i

					if sravnenie == '1'
						.product-item__btn.compare(title="Добавлено в сравнение")
							//- svg
								use(xlink:href='img/sprite.svg#shop-compare')
							i

					if sravnenie == '0'
						.product-item__btn.compare(title="Добавить в сравнение")
							//- svg
								use(xlink:href='img/sprite.svg#shop-compare')
							i

